<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--错误日志配置-->
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs\\error_log.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaximumFileSize" value="10mb" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="true" />
    <param name="RollingStyle" value="Size" />
    <!--    <param name="DatePattern" value="yyyy-MM-dd" />    -->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="[%d] :%m%n" />
    </layout>
  </appender>

  <!--信息日志配置-->
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs\\info_log.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaximumFileSize" value="10mb" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="true" />
    <param name="RollingStyle" value="Size" />
    <!--    <param name="DatePattern" value="yyyy-MM-dd" />    -->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="[%d] :%m%n" />
    </layout>
  </appender>

  <!--调试-->
  <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Logs\\debug_log.txt" />
    <param name="AppendToFile" value="true" />
    <param name="MaximumFileSize" value="100mb" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="true" />
    <param name="RollingStyle" value="date" />
    <param name="DatePattern" value="yyyy-MM-dd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d] :%m%n" />
    </layout>
  </appender>

  <!--选择类型-->
  <logger name="ErrorLog">
    <level value="ERROR" />
    <appender-ref ref="ErrorAppender" />
  </logger>
  <logger name="InfoLog">
    <level value="INFO" />
    <appender-ref ref="InfoAppender" />
  </logger>
  <logger name="DebugLog">
    <level value="Debug" />
    <appender-ref ref="DebugAppender" />
  </logger>
</log4net>

