
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <h3 class="m-b-xxs">写点什么</h3>
                </div>
            </div>
        </div>
    </div>
</div>



